@font-face {
  font-family: 'TitleFont';
  src: url('../fonts/title.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DescriptionFont';
  src: url('../fonts/description.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Aplicação de fontes */
.logo,
.top-button,
.main-title,
.section-title,
.download-button {
  font-family: 'TitleFont', Arial, sans-serif;
}

p,
.description,
.intro-text,
.step p,
footer p {
  font-family: 'DescriptionFont', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fb;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-button {
  background-color: #009476;
  border: 2px solid #009476;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 100px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.top-button:hover {
  background-color: #008168;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

.hero-text {
  flex: 1;
  min-width: 250px;
}

.main-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #111;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}

.download-button {
  background-color: #009476;
  color: white;
  font-weight: bold;
  padding: 14px 32px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 6px #006b53;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.3s;
}

.download-button:hover {
  background-color: #008168;
  box-shadow: 0 4px #006b53;
  transform: translateY(-1px);
}

.download-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px #005c4a;
}

.hero-image {
  flex: 1;
  text-align: center;
  min-width: 250px;
}

.hero-image img {
  max-width: 80%;
  height: auto;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  padding: 20px 0;
}

.copy {
  text-align: center;
  font-size: 14px;
  color: #777;
}

/* Responsividade */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    order: 2;
  }

  .hero-image {
    order: 1;
  }

  .main-title {
    font-size: 22px;
  }

  .description {
    font-size: 14px;
  }

  .top-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
